.root {
    background-color: #FD2D01
    ;
}
html {
    height: 100%;

}

body {
     margin: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


/* Header */

.lmj-banner {
	color: black;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	font-family: Lato;
}

.lmj-homebanner {
	color: black;
	display: flex;
	flex-direction: column;
	font-family: Lato;
}

.buttonBackground {
    display: flex;
flex-direction: column-reverse;
}

.mainBackground {
    width: 100%;
}

.lmj-logo {
	height: 100px;
	width: 100%;
    align-self: center;
    padding-top: 30px;
}

.lmj-nofold {
    justify-content: right;
    background-color: transparent;
}

/* Menu */

.lmj-menu {
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-right: 10px;
}

.menu {
	margin-left: 10px;
	display: flex;
	list-style-type: none;
	text-decoration: none;
	color: #FFD7D7;
    font-weight: 700;
}

/* Register */

.menu:hover {
	color: #FD2D01;
	cursor: pointer;
}

#signup {
	margin-top: 65px;
	font-weight: 700;
	display: none;
	flex-direction: column;
    width: 100%;
}

.navigationRegister {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation {
    text-decoration: none;
    color: #FFD7D7;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.navigation:hover {
    text-decoration: none;
    color: #FD2D01
    ;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.lmj-unfold > p, .lmj-unfold > p {
	color: #959bb1;
	padding-left: 20px;
	align-self: center;
    font-weight:400;
    text-align: center;

}

#register {
	margin-top: 65px;
	font-weight: 700;
	display: none;
	flex-direction: column;
    width: 100%;
}

.lmj-unfold {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background: url(../assets/backhtml.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}


.my_input {
	width: 50%;
	padding: 20px;
	margin: 20px;
	font-weight: 900;
	color: #FFD7D7;
	border: 1px solid #4E5166;
	align-self: center;
}

textarea:focus, input:focus{
    outline: none;

}

.button {
	border: none;
    background-color: transparent;
    align-self: end;
}

.button:hover .thumb {
	display: none;
}

.button:hover .thumbSwap {
	display: inline;
}

.thumb {
    width: 90px;
    height: 100px;
}

.thumbSwap {
    width: 90px;
    height: 100px;
	display: none;
    cursor: pointer;
}

/* User Menu */

.lmj-userMenu {
	margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #4E5166;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    color: #4E5166;
    direction:rtl;
}

.lmj-userMenu ul {
    list-style-type: none;
    padding: 0;
}

.lmj-userMenu li {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
    background: center / cover no-repeat url('../assets/grey.jpg');
}


.lmj-userMenu label {
    display: block;
    cursor: pointer;
    background: url(connect.png) no-repeat left center;
    padding: 10px 0 0 50px;
    width: 50px;
}

input#menu {
    display: none;
    padding-bottom: 20px;
}

.cross {
    display: flex;
    height: 150px;
}

input:checked ~ .menu-content {
    max-height: 100%;
    padding-bottom:20px;
    margin: 0;
}

.toSignup > p {
    text-decoration: none;
}

li.list {
    padding:0;
}

p.toPost {
    color: #E6E6E6;
    margin-right: 10px;
} 

p.toPost:hover{
    color: #4E5166;
    width: 200px;
}
.toSignup {
    font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        height: 40px;
        padding: 0;
        width: 10%;
        background-color: white;
    }

   label {
        margin: 10px;
        padding: 0;
    }


    .toSignup:hover {
        color: #FD2D01
        ;
    }

    .toPost > p {
        text-decoration: none;
        width: 100%;
        align-self:center;
    }
    
    .toPost {
        font-weight: 600;
            cursor: pointer;
            text-decoration: none;
            margin: 0;
            height: 40px;
            padding-top: 15px;
            color: #FD2D01;
            width: 100%;
            justify-content: center;
        }
    
        .toPost:hover {
            color: #4E5166;
    
        }
    
    a {
            text-decoration: none;
            align-self: center;
        }

        .cross > img {
            width: 40px;
        }


/* Posts Gallery */

.galleryThumb{
    width: 350px;
    height: auto;
    margin: 11px;
}

.galleryContainer {
    display: flex;
    flex-direction: row;
    min-height: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    background: url(../assets/backHome2.jpg) no-repeat center center;
    background-size: cover;
    
}

#postsGallery {
    display: flex;
    flex-direction: row; 
    height: 550px;
    margin: 30px;
    margin-bottom: 0;
}

.newPost {
    width: 100%;
    padding-bottom: 20px;
}

.figureInfo {
padding-top: 75px;
}

.postCaption{
    color: #FFD7D7;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.like {
    display: flex;
    justify-content: space-between;
height: 50px;
}

.svg-inline--fa{
    padding-right:10px;
}

.like > button {
    border: none;
    background-color: transparent;
    color: #4E5166;
}

.like > button:hover {
    color: #E6E6E6;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f1f3;
  }
   
  .btn-container {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 12px;
  }
   
  .like-active {
    background-color: #FF0063;
  }
   
  .dislike-active {
    background-color: #394350;
  }

#btn-pink {
    color: #FFD7D7;
}
#btn-pink:hover {
    color: #E6E6E6;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform .5s ease-in-out;
}

#btn-pink:target {
    cursor: pointer;
    transform: scale(1.2);
    width: 50px;
    background-color: transparent;
    border: none;
}


.postDescription {
    white-space: nowrap;
    max-width: 200px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
 }

     .postModification {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        justify-content: flex-end;
        padding-bottom: 10px;
    }

.postModification > button {
    all: unset;
    color: white;
    filter: drop-shadow(1px 1px 1px #FFD7D7);
    text-decoration: none;
    font-size: 20px;
    }

.postModification > button:hover {
    all: unset;
    color: white;
    filter: drop-shadow(1px 1px 1px #FD2D01
    );
    text-decoration: none;
    font-size: 20px;
    }

    .postImage {
        height: 200px;
        width: 100%;
        border: 3px solid #E6E6E6;
        object-fit: cover;
        transition: 0.1s ease;
    }

.imageContainer {
    height: 120px;
    width: auto;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.imageContainer > img {
    object-fit: cover;
    }
    
    .imageContainer:hover {
        object-fit: contain;
        transition: 0.5s;
        }
    

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 40%;

  }

.imageContainer:hover > .postImage {
    border: 3px solid #4E5166;
    transition: 0.1s;
    opacity: 0.3;
    top: 50%;
    left: 50%;
  }

.imageContainer:hover .middle {
    opacity: 1;
  }

  .onePost {
    text-decoration: none;
    color: white;
  }

  .text {
    text-decoration: none;
   color: white;
    font-size: 75px;
    filter: drop-shadow(0 0 0.75rem #FFD7D7);
    text-decoration: none;
  }


    /* Create Post */

    .addImage {
        width: 40%;
        padding-left: 20px;
    }
    
    #displayImage{
        width: 400px;
        height: 225px;
        border: 2px solid black;
        background-position: center;
        background-size: cover;
    
      }

      .displayImage {
        width: 400px;
        background-position: center;
        background-size: cover;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 100px;
      }

      .displayImage > img {
        border: 2px solid lightgray;
        width: 75%;
        height: 75%;
        object-fit: cover;
      }

      .displayImage > img:hover {
        object-fit: cover;
        filter:grayscale(1);
        transition: filter 1s ease-in-out;
      }

      .modifyImage {
        width: 400px;
        background-position: center;
        background-size: cover;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 100px;
      }

      .modifyImage > img {
        border: 2px solid lightgray;
        width: 75%;
        height: 75%;
        object-fit: cover;
      }

      .modifyImage > img:hover {
        object-fit: cover;
        filter:grayscale(1);
        transition: filter 1s ease-in-out;
      }
    
      button.deleteButton {
        all : unset;
        border: 0.5px solid #4E5166;
        display: inline-block;
        padding: 19px 88px;
        cursor: pointer;
        border-radius : 5px;
    }
    .deleteButton:hover {
        border: 0.5px solid #FFD7D7;
        color: #FFD7D7;
        transition: .2s ease-in-out; 
    }
    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        border: 0.5px solid #4E5166;
        display: inline-block;
        padding: 6px 59.5px;
        cursor: pointer;
        border-radius : 5px;
        margin-top: 10px;
    }
    
    .custom-file-upload:hover {
        border: 0.5px solid #FFD7D7;
        color: #FFD7D7;
        transition: .2s ease-in-out; 
    }
    
    .myTitle {
        all : unset;
        cursor: text;
        width: 100%;
    }

    .displayTitle {
        all : unset;
        cursor: text;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
        font-weight: 700;
        border-bottom: 1px solid lightgray;
        color: #FFD7D7;
        font-size: 20px;
    }

    .myDescription {
        all : unset;
        cursor: text;
        width: 100%;
        height:200px;
    }
        .displayDescription {
        all : unset;
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        height: 500px;
        display:inline-block;
        padding-bottom: 10px;
        color: #4E5166;
        font-weight: 600;
        font-size: 12px;
    }
    
    #postCreate {
        display: flex;
        flex-direction: row;
        min-height: 500px;
        background: url(../assets/backHome2.jpg) no-repeat center center;
        background-size: cover;
    }
    #displayPost {
        display: flex;
        flex-direction: row;
        background: url(../assets/backHome2.jpg) no-repeat center center;
        background-size: cover;
        height: 1000px;
    }
    .postInfo {
        width: 50%;
    }

    .displayInfo {
        width: 60%;
    }

    .info {
        border-bottom: 2px solid #FFD7D7;
    }
    
    .infos {
        border-bottom: 2px solid #FFD7D7;
    }

    .imageContainer > img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        transition: 0.3s;
    }
    
    .postDescription {
        color: #4E5166;
        display:inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        padding-bottom: 10px;
    }

    .textImage{
        color: #FFD7D7;
    }

    .textImage:hover{
        color: #FD2D01
        ;
    }

    .submitPost {
        display:flex;
        flex-direction: row-reverse;
    }
    
    .submitButton {
        all: unset;
        cursor: pointer;
        border : 0.5px solid #4E5166;
        padding: 20px 50px;
        transition: transform .4s ease-in-out;
        border-radius : 5px;
        color: #FFD7D7;
        background-color: white;
    }
    
    .submitButton:hover {
        transform: scale(1.1);
        background-color:#4E5166;;
        color: white;
    }

    .modify {
        all: unset; 
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
        border: 0.5px solid #4E5166;
        border-radius: 5px;
        width: 45%;
    }
    
    .modify:hover {
        border: 1px solid #FFD7D7;
        color: #FFD7D7;
    }

    .delete {
        all: unset; 
        margin-bottom: 10px;
        text-align: center;
        cursor: pointer;
        border: 0.5px solid #4E5166;
        border-radius: 5px;
        width: 45%;
    }
    
    .delete:hover {
        border: 1px solid #FFD7D7;
        color: #FFD7D7;
    }
    /* Footer */
    
    .footer {
        font-family: Lato;
        border-top: 10px solid #FFD7D7;
        width: 100%;
        height: 100px;
        background-color: #4E5166; 
    }
    
    .infoContainer {
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        text-align: center;
    }
    
    .footerTitle {
        color:#FFD7D7;
        text-decoration: underline;
        padding: 0;
        margin-top: 0;
        margin-bottom: 8px;
    }
    
    .links {
        color: white;
        list-style-type: none;
        text-decoration: none;
        font-size: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }
    
    li:hover {
        color: #FD2D01;
        cursor: pointer;
    }

    @media (min-height: 1366px) and (min-width: 1024px) { 
        .galleryContainer {
            min-height: 1400px;
        }
     }

     #postCreate{
        min-height: 1100px;
     }

    @media (max-width: 600px) {

        #postCreate{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .addImage {
            width: 90%;
        }
        .imageContainer > img {
            width: 90%;
        }

        .postInfo {
            width: 90%;
        }
        .submitPost {
            padding-bottom: 20px
        }
                .button{
            align-self: center;
        }
        .footer{
            width: 100%;
        }
        .textImage{
            color: #FFD7D7;
            text-align: center;
        }
    
        .textImage:hover{
            color: #FD2D01
            ;
            text-align: center;
        }
    }
      @media (max-width: 380px) {

        .navigationRegister {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
        }
        .guidance{
            display:none;
        }
        .button{
            align-self: center;
        }
        .galleryThumb {
            max-width: 200px;
        }
        
        .figureInfo {
            max-width: 180px;
            padding-right: 0px;
        }

        .text{
            font-size:30px;
        }

        .svg-inline--fa {
            display:flex;
            height: 1em;
            /* overflow: visible; */
            vertical-align: -0.125em;
        }

        #postCreate{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .addImage {
            width: 50%;
            padding: 0;
        }
        .imageContainer > img {
            width: 90%;
            
        }
        .postInfo {
            width: 50%;
        }

        .infoContainer{
            text-align: start;
        }
        .submitPost {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            align-self: center;
        }
        .submitButton {
            padding: 20px 20px;
        }
        .infoContainer{
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        .footer{
            height: 270px;
        }
        ul.links{
            text-align:start;
        }
      }