.addImage {
    width: 40%;
    padding-left: 20px;
}

#display-image{
    width: 400px;
    height: 225px;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
  }

  button.createButton {
    all : unset;
    border: 0.5px solid #4E5166;
    display: inline-block;
    padding: 19px 88px;
    cursor: pointer;
    border-radius : 5px;
}
.createButton:hover {
    border: 0.5px solid #FFD7D7;
    color: #FFD7D7;
    transition: .2s ease-in-out; 
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 0.5px solid #4E5166;
    display: inline-block;
    padding: 6px 59.5px;
    cursor: pointer;
    border-radius : 5px;
    margin-top: 10px;
}

.custom-file-upload:hover {
    border: 0.5px solid #FFD7D7;
    color: #FFD7D7;
    transition: .2s ease-in-out; 
}

.myTitle {
    all : unset;
    cursor: text;
}

.myDescription {
    all : unset;
    cursor: text;
}

#postCreate {
    display: flex;
    flex-direction: row;
    height: 660px;;
}
.postInfo {
    width: 50%;
}
.info {
    border-bottom: 2px solid #FFD7D7;
}

.infos {
    border-bottom: 2px solid #FFD7D7;
}

.image {
    height: 400px;
    width: 90%;
    margin-bottom: 40px;
    border: 1px solid pink;
}

.myTitle {
    width: 100%
}

.myDescription {
    width: 100%;
    height: 400px;
    word-wrap: break-word;
}

.submitPost {
    display:flex;
    flex-direction: row-reverse;
}

.submitButton {
    all: unset;
    cursor: pointer;
    border : 0.5px solid #4E5166;
    padding: 20px 50px;
    transition: transform .4s ease-in-out;
    border-radius : 5px;
    color: pink;
}

.submitButton:hover {
    transform: scale(1.1);
    background-color:#4E5166;;
    color: white;
}

.postModification {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.modify {
    all: unset; 
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid #4E5166;
    border-radius: 5px;
}

.modify:hover {
    border: 2px solid #FFD7D7;
    color: #FFD7D7;
}
