.lmj-banner {
	color: black;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	font-family: Lato;
}

.lmj-logo {
	height: 100px;
	width: 350px;
	align-self: start;
}



.lmj-nofold {
    justify-content: right;
    background-color: transparent;
}