.lmj-menu {
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-right: 10px;
}

.menu {
	margin-left: 10px;
	display: flex;
	list-style-type: none;
	text-decoration: none;
	color: #FFD7D7;
    font-weight: 700;
}

.menu:hover {
	color: #FD2D01;
	cursor: pointer;
}

#signup {
	margin-top: 65px;
	font-weight: 700;
	display: none;
	flex-direction: column;
    width: 100%;
}

.lmj-unfold > p, .lmj-unfold > p {
	color:#4E5166;
	padding-left: 20px;
	align-self: center;
}

#register {
	margin-top: 65px;
	font-weight: 700;
	display: none;
	flex-direction: column;
    width: 100%;
}



.lmj-unfold {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    margin-bottom: 30px;
}

.my_input {
	width: 50%;
	padding: 20px;
	margin: 20px;
	font-weight: 900;
	color: #FFD7D7;
	border: 1px solid #4E5166;
	align-self: center;
}

textarea:focus, input:focus{
    outline: none;

}

.button {
	border: none;
	background-color: white;
	align-self: end;
}

.button:hover .thumb {
	display: none;
}

.button:hover .thumbSwap {
	display: inline;
}

.thumb {
	width: 90px;
	height: 85px;
}

.thumbSwap {
	width: 90px;
	height: 85px;
	display: none;
}